/**
 * Styles for the tag cloud component.
 * 
 * .tagCloudWrapper - Wraps the tag cloud at the bottom of the screen.
 * .tag - Styles for each tag in the cloud. Centers text, adds transition, etc. 
 * .active - Styles for an active tag. Adds border, text shadow, etc.
 */
.tagCloudWrapper {
	/* position: fixed; */
	bottom: 0;
	background: #0f0f0f;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	/* height: 100px; */
	flex-direction: column;
	/* white-space: nowrap; */
	margin-top: auto; /* add this */
}

.tag {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
	align-items: flex-end;
	justify-content: center;
	transition: 150ms ease-in;
	padding: 0.25rem;
	margin: 0.5rem;
	border-radius: 15px;
	color: #2ac2e4;
	border: 1px solid rgba(0, 0, 0, 0);
}

.active {
	border: 1px solid rgba(122, 122, 122, 0.25);
	transition: 150ms ease-in;
	text-shadow: rgb(114, 200, 246) 0px 0px 32px;
	text-shadow: rgb(66, 189, 255) 0px 0px 22px;
	text-shadow: rgb(247, 246, 246) 0px 0px 12px;
}
