/**
 * Styles for the main page layout and content.
 * Defines CSS classes for the main content container, post list, dividers, tags, header, content sections, card grid, etc.  
 * Includes responsive styles for mobile and tablet views.
*/
.main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	width: 92%;
	max-width: 1200px; /* Adjust as needed */
	margin: auto;
}

.mainContent {
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}
.posts {
	flex: 1 0 auto;
	width: 100vw;
	max-width: 960px;
	padding-top: 2rem;
}

.divider {
	/* padding-block: 1rem; */
	width: 97%;
	height: 1px;
	border-radius: 4px;
	background: #2ac2e4;
}

.tag {
	cursor: pointer;
	font-size: calc(1rem + 0.1vw);
	margin-left: 1rem;
	transition: 150ms ease-in;
	padding-right: 0.5rem;
	/* margin: 0.25rem; */
	border-radius: 15px;
	color: #246476;
	/* border: 1px solid #2ac2e45f; */
}

.active {
	/* border: 1px solid rgba(122, 122, 122, 0.084); */
	transition: 150ms ease-in;
	text-shadow: rgb(114, 200, 246) 0px 0px 32px;
	text-shadow: rgb(29, 167, 242) 0px 0px 22px;
	text-shadow: rgb(220, 220, 220) 0px 0px 12px;
}

.header {
	border-radius: 12px;
	background: rgb(36, 36, 36);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0%);
}

.span {
	opacity: 0.6;
	font-size: 16px;
}

.title {
	color: #c6c6c6;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	margin-left: 1rem;
}

.content {
	width: 100%;
}

.description {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	width: 100%;
	z-index: 2;
	font-family: var(--font-mono);
}

.description a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description p {
	position: relative;
	margin: 0;
	padding: 1rem;
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, auto));
	max-width: 100%;
	width: var(--max-width);
}

.card {
	margin-block: 1rem;
	padding: 1rem 1.2rem;
	border-radius: var(--border-radius);
	background: rgba(var(--card-rgb), 0.15);
	border: 1px solid rgba(var(--card-border-rgb), 0);
	transition: background 200ms, border 200ms;
	width: calc(100vw - 0.3rem);
	max-width: var(--max-width);
}

.card:hover {
	/* transition: 150ms ease-in; */
	opacity: 1;
}

.card span {
	display: inline-block;
}

.card h2 {
	font-weight: 600;
	margin-bottom: 0.1rem;
}

.card p {
	margin: 0 auto;
	opacity: 0.8;
	/* font-size: 0.9rem; */
	line-height: 1.55;
	letter-spacing: -0.02rem;
	text-wrap: balance;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
}

.center::before {
	background: var(--secondary-glow);
	border-radius: 50%;
	width: 80px;
	height: 360px;
	margin-left: -400px;
}

.center::after {
	background: var(--primary-glow);
	width: 80px;
	height: 180px;
	z-index: -1;
}

.center::before,
.center::after {
	content: "";
	left: 50%;
	position: absolute;
	filter: blur(45px);
	transform: translateZ(0);
}

.logo {
	position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.card:hover {
		background: rgba(var(--card-rgb), 0.1);
		border: 1px solid rgba(var(--card-border-rgb), 0.15);
	}
}

@media (prefers-reduced-motion) {
	.card:hover span {
		transform: none;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.content {
		padding: 0rem;
	}

	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}

	.card {
		padding: 0;
		transition: all 0.5s ease-in;
	}

	/**
  * Hides an element by setting its opacity to 0, height to 0, 
  * and overflow to hidden. Used for smooth hiding animations.
  */
	.removed {
		transition: all 2.5s ease-in;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		/* height: 100px; */
		background: #f8f9fa; /* Change this to match your site's footer color */
	}
	.card h2 {
		margin-bottom: 0.15rem;
	}

	.center {
		padding: 8rem 0 6rem;
	}

	.center::before {
		transform: none;
		height: 300px;
	}

	.description {
		font-size: 0.8rem;
	}

	.description a {
		padding: 1rem;
	}

	.description p,
	.description div {
		display: flex;
		justify-content: center;
		position: fixed;
		width: 100%;
	}

	.description p {
		align-items: center;
		inset: 0 0 auto;
		padding: 2rem 1rem 1.4rem;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
		background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
		background-clip: padding-box;
		backdrop-filter: blur(24px);
	}

	.description div {
		align-items: flex-end;
		pointer-events: none;
		inset: auto 0 0;
		padding: 2rem;
		height: 200px;
		background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
		z-index: 1;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (prefers-color-scheme: dark) {
	.vercelLogo {
		filter: invert(1);
	}

	.logo {
		filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
	}
}

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
